.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
  align-self: center;
  width: 40%;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}


.pokeform {
  margin: auto;
  padding: 10px;
  width: 570px;
  align-items: left;
  border: 2px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
}
.lvl {
  position: relative;
  /* right: 43%; */
  margin-right: 0px;
  border-radius: 5px;
  border: 1px solid gray;
  align-self: baseline;
  /* width: 90px; */
}

.react-numeric-input{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  left:-157px;
}
.pokemonInput {
  display: inline;

}

.spriteImg {
  position: absolute;
  border-radius: 50%;
  border: 1px solid gray;
  margin-left: 300px;
  margin-top: -50px;

}
