<html>
<head>
<title>Pokemon Dream Team</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
 <div>
  <table>
    <form id='sim' action='/run'>
      <tr> Battle Type:
        <select name='battle-type'>
          <option> Single </option>
          <!-- We're gonnna ignore double for now -->
          <option> Double </option>
        </select>
      </tr>
    <tr>
    <td>
      <div id=TrainerFormA></div>
    </td>
    <td>
    <div id=TrainerFormB></div>
    <td>
    </tr>




  </table>

<!-- <script src="https://unpkg.com/react-autosuggest/dist/standalone/autosuggest.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/react-jsonschema-form/dist/react-jsonschema-form.js"></script> -->


</body>
</html>
